{% extends 'base.html' %}
{% block content %}

<h2>Pagamento via PIX</h2>

<p><strong>Pedido:</strong> {{ pedido.codigo }}</p>
<p><strong>Valor:</strong> R$ {{ pedido.total|floatformat:2 }}</p>

<hr>

<h3>Escaneie o QR Code</h3>

<img 
  src="data:image/png;base64,{{ pagamento.pix_qr_code }}" 
  alt="QR Code PIX"
  style="width:300px; height:300px;"
/>

<p>
  Ou copie o código PIX:
</p>

<textarea rows="4" cols="60" readonly>
{{ pagamento.pix_qr_code }}
</textarea>

<p>
  <strong>Expira em:</strong> {{ pagamento.pix_expira_em }}
</p>


{% endblock %}